@font-face {
  font-family: 'RobotoMono';
  src: url('RobotoMono-VariableFont_wght.ttf') format('woff');
}

body {
  font-family: 'RobotoMono';
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px max(calc(50vw - 500px), 20px);
  text-align: center;
}

h1 {
  font-size: 3em;
}
#from {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

body {
  transition:
    background-color 0.25s,
    color 0.25s;
  color: var(--color-text);
  background-color: var(--color-body);
  color-scheme: var(--color-scheme);
}
