@font-face {
    font-family: 'RobotoMono';
    src: url('RobotoMono-VariableFont_wght.ttf') format('woff');
}

body {
    font-family: 'RobotoMono';
    height: 2400px;
}

.container {
    text-align: center;
}

.title {
    font-size: xx-large;
    padding: 50px 0px;
}

.text {
    font-size: x-large;
}

.placeholder {
    height: 20px;
}

.comment {
    font-size: small;
}

mdui-select, mdui-text-field {
    padding: 10px;
}